extends layout

block content
    script.
        var selName='#{name}';
        var startday='#{stday}';
        var allmap = '#{showAllMap}';
        var csid = '#{csensor}';

    header
        #hline1
            #h1name Radioaktivitäts-Karte
            #h1uhr
        #hline2
            #subtitle
    #buttons
        #buttonsLeft
            button.btn.btn-primary#btnBack(value="back") zurück
            button.btn.btn-primary#btnCent(value='map') Zentrieren
            // button.btn.btn-primary#btnTraf(value='traffic') #[span Verkehr einblenden]
        #buttonsRight
            button.btn.btn-primary#btnHelp(value='help') Info
    #map
    #mapdate
    #nosensor Mein Sensor wird nicht angezeigt? Dann bitte <span class="hrefsimu" id="fehlersensoren">hier</span> klicken
    #dialogCenter.dialog
    #dialogWinHelpM
    #dialogFehlSens
    #dialogFehlList
    #page-mask

