extends layout

block content
    script.
        var selName='#{name}';
        var startday='#{stday}';

    header
        h2#h1name Feinstaub-Map
        h2#h1uhr
    #buttons
        #buttonsLeft
            button.btn.btn-primary#btnBack(value="back") zurück
            button.btn.btn-primary#btnCent(value='map') Zentrieren
            button.btn.btn-primary#btnTraf(value='traffic') #[span Verkehr einblenden]
        #buttonsRight
            button.btn.btn-primary#btnHelp(value='help') Info
    #map
    #mapdate
    #nosensor Mein Sensor wird nicht angezeigt? Dann bitte <span class="hrefsimu" id="fehlersensoren">hier</span> klicken
    #dialogCenter.dialog
    #dialogWinHelpM
    #dialogFehlSens
    #dialogFehlList
    #page-mask

