body {
  font-family: Verdana, 'Lucida Sans Unicode', sans-serif;
  font-size: 16px;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
	height: 100%;
}

htnml {
	height: 100%;
}

#wrapper {
	margin : auto;
	width: 1000px;
	text-align: center;
	background-color: #DDDDDD;
    margin-top: 5px;
    height: 100%;
	position: relative;
}

header {
	width: 950px;
	margin: auto;
}

#hline1 {
	width: 100%;
	margin: 0px auto 0px;
	padding-top: 20px;
}

#h1name {
	font-size: 148%;
	clear: both;
	float: left;
	width:40%;
	text-align: left;
}

#h1right {
	width: 20%;
	float: right;
	borger: 1px solid red;
}

#h1datum {
	float: left;
	margin-top: 9px;
}

#h1uhr {
	font-size: 148%;
	float: right;
}

#insel {
	float: left;
	width: 50%;
	text-align: left;
}

#ssel {
	float: left;
	width: 90px;
	margin-top: 5px;
	font-size: 1.1em;
	background-color: #0099cc;
	color: white;
	text-align: right;
	padding-right: 5px;
}


#insel label {
	float: left;
	font-size: 148%;
	padding-right: 30px;
}

#hline2 {
	width: 100%;
	height: 100%;
	margin: 20px auto 0px;
	clear:both;
}

#adresse {
	float: left;
	width:40%;
	height: 1px;
	text-align: left;
}

#sbx {
	float:left;
}

#sbx label , #sbx select{
	float: left;
}

#combo {
	float: left;
	width: 150px;
	background-color: #0099cc;
	color: white;
	margin-right:20px;
}


#subtitle {
	float: right;
}

header #btnssel {
    float: left;
    width: 80px;
    height: 30px;
	padding-bottom: 25px;
    font-size: 1.1em;
}

#buttons {
	clear: both;
	margin: auto;
/*	text-align: right; */
	width: 100%;
}

#buttonsLeft {
	text-align: left;
	width: 50%;
	float: left;
	margin-bottom: 15px;
	margin-left: 15px;
}

#buttonsRight {
	text-align: right;
	width: 40%;
	float: right;
	margin-bottom: 15px;
	margin-right: 18px;
}


button {
	width: 15%;
	height: 30px;
	margin-left: 1.5%;
	margin-top: 15px;
}

#btnda, #btnmo, #btnwe {
	width: 140px;
	margin-right: 5px;
}

#btnMap, #btnHelp {
	width: 70px;
	margin-right: 10px;
}

#btnSet {
	width: 100px;
	margin-right: 10px;
	display:none;
}

#btnCent {
	width: 100px;
}

#btnBack {
	display: none;
}

#btnStat {
	width: 90px;
	margin-right: 10px;
}


#btnst {
	margin-left: 50px;
	width: 120px;
	margin-top: -1px;
	white-space:normal;
	height: 45px;
	line-height: 17px;
	box-sizing: border-box;
}



.btn-primary {
	background: #0099cc;
	color: #ffffff;
	font-size: 90%;
	padding-bottom: 25px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: red;
}

.btn-primary:active, .btn-primary.active {
	background: #007299;
	box-shadow: none;
}

/* Grafik-Fenster */

#placeholderFS_1, #placeholderTHP_1,#placeholderFS_2, #placeholderTHP_2,#placeholderFS_3, #placeholderTHP_3 {
	width: 100%;
	margin: auto;
}


.infoTafel th,td {
	margin: auto;
	text-align: left;
	padding: 0 10px;
	border: 1px solid black;
	background-color: rgba(238,238,238,0.6) ! important;
}

.infoTafel th {
	text-align: center;
}

.infoTafel tr {
	height: 20px;
}

.errTafel {
	text-align: center;
}

.errTafelsmall {
	font-size:75%;
	color: black;
}

#author {
	font-size:80%;
	width: 95%;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 10px;

}

#mailadr {
	float: left;
}

#versn {
	float: right;
}

#help {
	width: 700px;
}

#sensors {
	margin: 30px auto;
	align:center;
}

#sensors td, #sensors th{
	text-align: center;
	width: 200px;
}
#fstb {
	padding-top: 30px;
}
#alert {
	text-align: center;
}

#map {
	clear: both;
	height: 700px;
	width: 95%;
	margin: 50px auto 10px auto;
	border: 2px solid blue;
}

#mapdate {
	font-size: 70%;
}

#nosensor {
	text-align: center;
	font-size: 120%;
	font-weight: bold;
    display: none;
}

.hrefsimu {
	color: blue;
	cursor:pointer;
}

#fehlersensoren {
}

#infoTable table, #infoTable tr, #infoTable td {
	margin: auto;
	text-align: center;
	border: none !important;
}

#infoHref {
	margin-top: 10px;
	text-align: center;
}

#fehlerexplain {
	margin-left: 30px;
	padding: 5px;
	border: solid 2px red;
}

/*label, input { display: block; }
*/

/*
radio {
	display: inline-block;
	margin-bottom: 10px;
	mrgin-right: 10px;
	disaplay: inline;
}
*/


#page-mask {
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.highcharts-tooltip span {
	background-color: white;
	opacity: 1;
	z-index: 9999 !important;
}

#errorDialog {
	color: red;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: lightgray;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: lightgray;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color: lightgray;
}

#underymax {
	font-size: 75%;
}

#alarm {
	display: none;
}


#datumtxt {
	font-size: 120%;
	font-weight: bold;
	position: absolute;
	top: 170px;
	right: 25px;
	z-index: 99;
}

.ui-widget-content a {
	color: blue;
	/*  Überschreibt das default in jquery (das ist nicht blau) */
}

#stat_table {
    margin: auto;
}

#stat_table tr:hover {
    background-color: #ffff99;
    border: 1px solid black;
}


#stat_table caption {
    text-align: center;
}

#stat_table table, #stat_table th {
	border: 1px solid black;
}

#stat_table th {
	padding: 5px;
    text-align: center;
    background-color: green;
    color: white;
}

.w25, .w10 {
    text-align:right;
    width: 80px;
}

#body2 {
    border-top: 3px green solid;
}

.bord1 {
    border-top: 2px black solid;
}

.setting_head {
	background-color: blue;
	color: white;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#avgselect {
	margin-left:30px;
}

#lueber {
	margin-left: 15px;
	margin-right: 5px;
}

.ui-dialog {
	z-index:1000 !important;
}


.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 1;
}